@{
    ViewData["Title"] = "Home Page";
}

<section class="engine"></section><section class="mbr-section mbr-section-hero mbr-section-full mbr-section-with-arrow mbr-parallax-background" id="header1-1" data-rv-view="2" style="background-image: url(./assets/images/mbr-1620x1080.jpg);">

    <div class="mbr-overlay" style="opacity: 0.7; background-color: rgb(0, 0, 0);"></div>

    <div class="mbr-table-cell">

        <div class="container">
            <div class="row">
                <div class="mbr-section col-md-10 col-md-offset-1 text-xs-center">

                    <h1 class="mbr-section-title display-1">Krishnakantha J C <br>for Insightly</h1>
                    <p class="mbr-section-lead lead">Hello there! This is Krishnakantha, Software Engineering Masters student at ASU.<br>I came across a job opening at 'Insightly', The product I used when I started my own company. Working for an amazing product like this is a great oppourtunity and I dont want to miss a chance to give an interview at your organization. This is an exclusive website explaining my interest towards Insightly. I have applied for Software Engineering position&nbsp;</p>
                    
                </div>
            </div>
        </div>
    </div>

   <!--<div class="mbr-arrow mbr-arrow-floating" aria-hidden="true"><a href="#header3-d"><i class="mbr-arrow-icon"></i></a></div> --> 

</section>
